body{
    font-family: "minecraft";
     <!-- background-image: url("https://th.bing.com/th/id/OIP.Vvxp2gQOxQ279aR4FQC1fAHaEK?pid=ImgDet&rs=1") <--
}
h1{
    font-family: "minecraft";
}

.row{
    font-weight: bold;

}
.big{
    font-size: 30px;
}
.fontlouche{
    font-family: "minecraft";
}

@font-face{
    font-family: "Happy Ending";
    src: url("Happy Ending.otf");

}
@font-face{
    font-family: "Anyk";
    src: url("Anyk.ttf");
}
@font-face{
    font-family: "minecraft";
    src: url("Minecrafter.Reg.ttf");
}
